body {
	margin: 0;
	text-align: center;
	background-color: aliceblue;
	min-height: 100vh;
	
	}

form{
	display:inline-block;
	padding: 30px;
	border-style: solid;
	border-width: 10px;
	border-radius: 25px;
	border-color: black;
	background: #4cb3b3;
	width: 450px;
	height: 257px;
}

button{
	display: inline-block;
}

label{
	color: white;
	font-size: 120%;
	display: block;
	margin: 0 auto;
	}


li{
	padding: 5px;
	vertical-align: center;
}
.nav-pills a{
	background-color:#e9e9e2 ;
	color:#2e2e2e;
	
}

.nav-pills a:hover{
	background-color: #CACAB9 ;
	color:#2e2e2e;
}
.nav-pills{

	width: 100px;

}

.nav>li>a {
    padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: center;
}

#passwordLabel{
 padding-bottom: 20px;
 text-align: right;
}

#usernameLabel{
	text-align: right;
}

#labels{
	padding-top: 0px;
	display:inline-block;
	text-align: center;
}
#fields{
	display: inline-block;
	text-align: center;
	padding: 10px;
}
#login{
	padding: 160px;
}

#passwordBox{
 -webkit-text-security: disc; 
}
#usernameBox{
 -webkit-text-security: none; 
}


p{
	padding: 5px;
	display: block;
	color: crimson;
}

#home{
	display: inline-block;
}


a {
    text-decoration: none;
    display: inline-block;
	padding: 8px 16px;

}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

#buttons{
	display: block;

	
}

#username{	
	vertical-align: top;
	text-align: center;
	padding-top:10px;
	padding-bottom: 17px;
	
}

#password{

	text-align: center;
	padding-bottom: 10px;
	

}
input{
	width: 150px;
}
