<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>UsersLogin</title>
</head>
<body>


<div id="login">

	<form>
		<div id=instructions>
				<label>Login to edit menu information</label>
		</div>


		<div id=labels>
			<div id=usernameLabel>
				<label> Username: </label><br>
			</div>
			<div id=passwordLabel>
				<label> Password: </label>
			</div>
		
		</div>

		<div id=fields> 
			<div id="username">
					
					<input #username type="text" required id="usernameBox"><br>
			</div>
			<div id="password"> 
					<input #password type="text" required id="passwordBox" autocomplete="off" ><br>
					
			</div>
		</div> 
		
		<div id="buttons">
			<button (click)="onLogin(username.value, password.value)" id="loginButton" type="button" class="btn btn-primary"> Login </button>	
		</div>
		

		<ng-container *ngIf="loginFailed==true" id=loginFailed>
			<p>You do not have permission to edit menu information</p>
		</ng-container>
	</form>

</div>


</body>
</html>
