<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MenuDisplay</title>
</head>
<body>
	
	<ul class="nav nav-tabs">	
		<li class="active"><a routerLink="/menu">Menu</a></li>
		<li><a routerLink="/edit-menu">Edit Menu</a></li>
		<li><a routerLink="/edit-users">Edit Users</a></li>
	</ul>

	<div id=menuBanner class="text-center">
	
			<h1>Menu</h1>
			<h3 style="padding: 10px; font-size: 130%;">Filter Options:</h3><br>
			<div style="text-align: left; width:360px; margin:0; display: inline-block">
			<ng-container *ngFor="let flag of flags">
		  	<div id="flagOption"><div id="flagName">{{flag.flag_name}}:</div><input type="checkbox" [checked]="flag.selected" (change)="flag.selected = !flag.selected" (change)="boxChecked()"/></div>
			</ng-container>
			</div>
		<br>
			<ng-container *ngFor="let type of types">
		  <div id=mealType><h3 style="display: inline-block;">{{type.type_name}}</h3></div>
				<ng-container *ngFor="let dish of dishes">
					<ng-container *ngIf="type.type_id==dish.type_id">
						<ng-container *ngIf="dish.visible=='true'">
							<div id="menuLine">
								{{dish.dish_name}} &nbsp;&nbsp; ${{dish.price}}<br>
							</div>
						</ng-container>
					</ng-container>
		  </ng-container>
		  <br>
			</ng-container>
			<br>
	


	</div>
</body>
</html>
