<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>editUsers</title>
</head>
<body>

<div id="userInfo">
	
    <ng-container *ngIf="showForm==false">
		
		<label style="font-size: 180%; padding-bottom: 15px; min-width: 600px;">User Information</label>
		 
		<table class="users" cellspacing="0px" style=" border-radius: 25px;">
        
			<tr bgcolor="gray" style="font-weight: bold; vertical-align: middle; text-align: center; color:white; font-size: 110%; height: 25px;">
				<td style="border-top-left-radius: 21px; min-width: 130px;">First Name</td>
				<td style="min-width: 130px;">Last Name</td>
				<td style="min-width: 130px;">Username</td>
				<td style="min-width: 90px;">Admin</td>
				<td style="border-top-right-radius: 21px; min-width: 120px">Delete User</td>
			</tr>	
        
			<ng-container *ngFor="let user of users">
				
				<tr>
					<td style="vertical-align: middle; text-align: center;"><div style="padding-left: 10px; padding-right:10px">{{user.first_name}}</div></td>
					<td style="vertical-align: middle; text-align: center;"><div style="padding-left: 10px; padding-right:10px">{{user.last_name}}</div></td>
					<td style="vertical-align: middle; text-align: center;"><div style="padding-left: 10px; padding-right:10px">{{user.username}}</div></td>
					
					<ng-container *ngIf="user.can_edit_users=='True'">
						<td style="vertical-align: middle; text-align: center;">Yes</td>
					</ng-container>
					<ng-container *ngIf="user.can_edit_users=='False'">
						<td style="vertical-align: middle; text-align: center;">No</td>
					</ng-container>
					<ng-container *ngIf="user.user_id!=loggedInUser">
						<td style="vertical-align: middle; text-align: center;"><button (click)="onDelete(user.user_id)" type="button" class="btn btn-danger" id="deleteButton"><i class="fa fa-trash"></i></button></td>
					</ng-container>
					<ng-container *ngIf="user.user_id==loggedInUser">
							<td style="vertical-align: middle; text-align: center;"><button disabled type="button" class="btn btn-primary" id="deleteButtonDisabled"><i class="fa fa-trash"></i></button></td>
						</ng-container>
					<ng-container *ngIf="user.user_id==loggedInUser">
						<td style="vertical-align: middle; text-align: center;"></td>
					</ng-container>
				</tr>
			
			</ng-container>
                  
		</table>
		<br>
		<form>
		<button (click)="onAddButton()" type="button" class="btn btn-primary">Add a User</button>
		</form>
		
  	</ng-container>
  
  
	<ng-container *ngIf="showForm==true">
		<form id="addUser">
			<label style="font-size: 180%; padding-bottom: 25px;">Add a new user</label><br>
			<div id="main">
				<div id="left">
					<div id=instructions><label>First Name:</label></div>
					<div id=instructions><label>Last Name:</label></div>
					<div id=instructions><label>Username:</label></div>
					<div id=instructions style="padding-bottom:0;"><label>Password:</label></div>
					
				</div>

				<div id=fields> 
					<div id=field><input type="text" maxlength="15" #firstname><br></div>
					<div id=field><input type="text" maxlength="15" #lastname><br></div>
					<div id=field><input type="text" maxlength="15" #username><br></div>
					<div id=field><input type="text" maxlength="15" #password id="passwordBox" autocomplete="off"></div>
				</div>
			</div>
			
			<div id="canEdit">
				<label style="padding-right: 11px; padding-left: 6px;">Can edit user info:</label>
				<select class="form-control"  #selectedOption >
						<option value="false"> No </option>
						<option value="true"> Yes </option>
					</select><br>	
				<br>
			</div>

			<div id="buttons">
				<button (click)="onBack()" type="button" class="btn btn-primary">Go back</button>
				<button (click)="onAddUser(firstname.value, lastname.value, username.value, password.value, selectedOption.value )"type="button" class="btn btn-primary">Add User</button>
			</div>
			
			<ng-container *ngIf="allFieldsFilled==false">
				
					<p>Please fill out all the fields</p>
				
			</ng-container>
			<ng-container *ngIf="userAdded==true">
				
					<p id="success">The user {{userAddedName}} has been added!</p>
				
			</ng-container>
			
		</form> 
	</ng-container>
        
</div>

</body>
</html>
