body {
	margin: 0;
	text-align: center;
	background-color: aliceblue;
	height: 100%;
}
ul{
	display: inline-block;
	text-align: center;
	vertical-align: center;
}	
button{
	width:250px;
}
label{
	padding-bottom: 20px;
	color: #e9e9e2 ;
	font-size: 120%;
}
#menu{
	padding: 100px;
}
form{
	display:inline-block;
	padding: 30px;
	border-style: solid;
	border-width: 10px;
	border-radius: 25px;
	border-color: black;
	background: #00b3b3;
	width: 450px;
	height: 350px;
}
li{
	padding: 5px;
	vertical-align: center;
}
.nav-pills a{
	background-color:#e9e9e2 ;
	color:#2e2e2e;
}
.nav-pills a:hover{
	background-color: #CACAB9 ;
	color:#2e2e2e;
}
.nav-pills{
	width: 230px;
}
.nav>li>a {
    padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: center;
}





