body {
	margin: 0;
	text-align: center;
	background-color: aliceblue;
	min-height: 100vh;
	min-width: 800px;
}
ul{
	display: inline-block;
	text-align: center;
	vertical-align: center;
}
button{
	display: inline-block;
	width: 230px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: center;
	margin: 5px;
}
label{
	padding-bottom: 20px;
	color: white ;
	font-size: 120%;
}
form{
	display:inline-block;
	text-align: center;
	padding: 30px;
	border-style: solid;
	border-width: 10px;
	border-radius: 25px;
	border-color: black;
	background: #4cb3b3;
	width: 450px;
	height: 520px;
}

#backButton{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80px;
	height: 34px;
	text-align: center;

}
#menuBanner{
	display: inline-block;
	text-align: center;
	margin: 50px;
	width: 600px;
	height: 100%;
}
#backButton{
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	text-align: center;
}

