<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Menu</title>
</head>

<body class="text-center">

<div id=menuBanner class="text-center">

    <h1>Menu</h1>
    <h3 style="padding: 10px; font-size: 130%;">Filter Options:</h3><br>
    <div style="text-align: center">
		<ng-container *ngFor="let flag of flags">
      <div id="flags" style="vertical-align: middle; display: inline-block; margin: 5px; margin-left: 25px; margin-right: 25px; ">
          <div id="flagOption">

        <ng-container *ngIf="!editFlag(flag.flag_id)">
				  <div id="flagName">{{flag.flag_name}}:</div>
        </ng-container>
        <ng-container *ngIf="editFlag(flag.flag_id)">
            <input value="{{flag.flag_name}}" id="flagEdit" maxlength="15" [(ngModel)]="flagsToEdit[flag.flag_id]">
        </ng-container>

        <input type="checkbox" [checked]="flag.selected" (change)="flag.selected = !flag.selected" (change)="boxChecked()"/>

      </div>
      <ng-container *ngIf="!editFlag(flag.flag_id)">
        <button (click)="onEditFlagButtonClicked(flag.flag_id, flag.flag_name)" type="button" class="btn btn-success" id="editFlagButton"><i class="fa fa-pencil"></i></button><button (click)="onDeleteFlag(flag.flag_id)" type="button" class="btn btn-danger" id="deleteFlagButton"><i class="fa fa-trash"></i></button><br>
      </ng-container>
      <ng-container *ngIf="editFlag(flag.flag_id)">
          <button (click)="onEditFlagSubmitted(flag.flag_id)" type="button" class="btn btn-success" id="editFlagButton"><i class="fa fa-check"></i></button><button (click)="onDeleteFlag(flag.flag_id)" type="button" class="btn btn-danger" id="deleteFlagButton"><i class="fa fa-trash"></i></button><br>
      </ng-container>
     </div>
    </ng-container>
    <ng-container *ngIf="addFilterForm==false">
        <button (click)="onAddFilterButtonClicked()" type="button" class="btn btn-success" id="addFilterButton"><i class="fa fa-plus"></i></button><br><br>
    </ng-container>
    <ng-container *ngIf="addFilterForm==true">
      <form id="addFilter">
        <button (click)="onAddFilterButtonMinimized()" type="button" class="btn btn-danger" id="addFilterButton"><i class="fa fa-close"></i></button><br>
        <input type="text" maxlength="20" #filter><button (click)="onAddFilterSubmit(filter.value)" type="button" class="btn btn-success" id="addFilterSubmitButton">Submit</button></form>

      <br><br>
    </ng-container>
    </div>

		<ng-container *ngFor="let type of types">
    <div id=mealType><h3 style="display: inline-block;">{{type.type_name}}</h3>
   <button (click)="onEditType(type.type_id)" type="button" class="btn btn-success" id="editTypeButton"><i class="fa fa-pencil"></i></button><button (click)="onDeleteType(type.type_id)" type="button" class="btn btn-danger" id="deleteTypeButton"><i class="fa fa-trash"></i></button></div><br>
      <ng-container *ngFor="let dish of dishes">
				<ng-container *ngIf="type.type_id==dish.type_id">
					<ng-container *ngIf="dish.visible=='true'">
						<div id="menuLine">
                {{dish.dish_name}} &nbsp;&nbsp; ${{dish.price}} 
                <button (click)="onEditDish(dish.dish_id)" type="button" class="btn btn-success" id="editDishButton"><i class="fa fa-pencil"></i></button><button (click)="onDeleteDish(dish.dish_id)" type="button" class="btn btn-danger" id="deleteDishButton"><i class="fa fa-trash"></i></button>
                <br>
						</div>
					</ng-container>
				</ng-container>
      </ng-container>
      <button (click)="onAddDish()" type="button" class="btn btn-success" id="addDishButton"><i class="fa fa-plus"></i></button><br><br>
      
		</ng-container>
		<br> 

</div>

</body>
</html>