<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Menu</title>
</head>

<body class="text-center">

<div id=menuBanner class="text-center">

  <ng-container *ngIf="editOption=='unselected'">
       
    <form>
      <label> What would you like to do?</label><br>

      <button (click)="onSelection('addDish')" type="button" class="btn btn-primary">Add a dish to the menu</button><br>
      <button (click)="onSelection('addCategory')" type="button" class="btn btn-primary">Add a dish category</button><br>
      <button (click)="onSelection('addFilter')" type="button" class="btn btn-primary">Add a dietary filter</button><br>
      <button (click)="onSelection('deleteDish')" type="button" class="btn btn-primary">Delete a dish from the menu</button><br>
      <button (click)="onSelection('deleteCategory')" type="button" class="btn btn-primary">Delete a dish category</button><br>
      <button (click)="onSelection('deleteFilter')" type="button" class="btn btn-primary">Delete a dietary filter</button>
    </form>
  </ng-container>

  <ng-container *ngIf="editOption=='addDish'">
      <form>
          <label> Add a menu dish (eg. Hamburger)</label><br>
          <button (click)="onBack()" type="button" class="btn btn-primary" id="backButton">Go back</button>
      </form>
  </ng-container>

  <ng-container *ngIf="editOption=='addCategory'">
      <form>
          <label> Add a dish category (eg. Appetizers)</label><br>
          <button (click)="onBack()" type="button" class="btn btn-primary" id="backButton"> Go back</button>
      </form>
  </ng-container>

  <ng-container *ngIf="editOption=='addFilter'">
      <form>
          <label> Add a dietary filter (eg. Vegetarian)</label><br>
          <button (click)="onBack()" type="button" class="btn btn-primary" id="backButton">Go back</button>
      </form>
  </ng-container>

  <ng-container *ngIf="editOption=='deleteDish'">
      <form>
          <label> Delete a menu dish</label><br>
          <button (click)="onBack()" type="button" class="btn btn-primary" id="backButton">Go back</button>
      </form>
  </ng-container>

  <ng-container *ngIf="editOption=='deleteCategory'">
      <form>
          <label> Delete a dish category </label><br>
          <button (click)="onBack()" type="button" class="btn btn-primary" id="backButton">Go back</button>
      </form>
  </ng-container>

  <ng-container *ngIf="editOption=='deleteFilter'">
      <form>
          <label> Delete a dietary filter </label><br>
          <button (click)="onBack()" type="button" class="btn btn-primary" id="backButton">Go back</button>
      </form>
  </ng-container>

</div>

</body>
</html>